<div class="container p-3 border rounded shadow bg-light bg-gradient" style="max-width: 550px">
  <div class="align-items-center row-align-items-center">

    <div class="text-center">
      <img src="../../../assets/logo-bolao.png" alt="Logo" class="mb-3" width="400px" height="400px">
    </div>

    <div class="w-75 m-auto text-center">
      <form>
        <div class="input-group mb-3">
          <fa-icon class="btn btn-success" [icon]="faUser"></fa-icon>
          <input type="text" id="inpUsername" class="form-control text-center" placeholder="Usuário"
            formControlName="username">
        </div>

        <div class="input-group mb-3">
          <fa-icon class="btn btn-success" [icon]="faLock"></fa-icon>
          <input type="password" id="inpPassword" class="form-control text-center" placeholder="Senha"
            formControlName="password">
        </div>

        <button type="submit" class="btn btn-warning w-100 mb-3">Entrar</button>

      </form>

      <a [routerLink]="['/signup']"><small>Ainda não possui cadastro?</small></a>

    </div>
  </div>
</div>